@use '../base' as *;

@mixin ctaButton($color: $darkblue, $bg-color: $lightgray, $p-tb: rem(11px), $p-lr: rem(14px), $radius: rem(8px)) {
  color: $color;
  background: $bg-color;
  padding: $p-tb $p-lr;
  border-radius: $radius;
  font-size: rem(16px);
  font-weight: 700;
  line-height: rem(26px);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;

  @include breakpoint-up(medium) {
    padding: rem(16px) rem(26.5px);
  }
}
