@use 'breakpoints' as *;
@use 'pxToRem' as *;

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}

.container {
  //content + pad-left + pad-righ:
  // 1110px + 39.5px + 39.5px
  max-width: rem(1189px);
  margin: 0 auto;
  padding-left: rem(24px);
  padding-right: rem(24px);

  @include breakpoint-up(medium) {
    padding-left: rem(39.5px);
    padding-right: rem(39.5px);
  }
}
