@use 'breakpoints' as *;
@use 'pxToRem' as *;

// .flex {
//   display: flex;

//   &-jc-sb {
//     justify-content: space-between;
//   }
// }

.margin-vertical {
  margin-left: rem(24px);
  margin-right: rem(24px);

  @include breakpoint-up(medium) {
    margin-left: rem(40px);
    margin-right: rem(40px);
  }

  @include breakpoint-up(large) {
    margin-left: rem(165px);
    margin-right: rem(165px);
  }
}
