@use '../base' as *;
@use '../components/button' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(23px) 0 rem(64px) 0;

  @include breakpoint-up(medium) {
    padding: rem(40px) 0 rem(62px) 0;
  }

  @include breakpoint-up(large) {
    padding: rem(55px) 0 rem(76px) 0;
  }

  &__cta--gray {
    @include ctaButton();

    &:hover {
      color: $white;
      background-color: $darkblue;
    }
  }
}
