@use '../base' as *;

footer {
  text-align: center;
  color: $darkgray;
  position: absolute;
  width: 100%;
  bottom: rem(39px);
  line-height: rem(27px);

  a {
    color: $pink;
    font-weight: bold;
  }
}
