@use '../base' as *;
@use '../components/button' as *;

.header {
  padding-top: rem(23px);
  padding-bottom: rem(64px);

  @include breakpoint-up(medium) {
    padding-top: rem(40px);
    padding-bottom: rem(62px);
  }

  @include breakpoint-up(large) {
    padding-top: rem(55px);
    padding-bottom: rem(83px);
  }

  &__cta--gray {
    @include ctaButton();

    &:hover {
      color: $white;
      background-color: $darkblue;
    }
  }
}
